application.author=Lucien
server.port=50034

//#filePathPrefix is the path from the home directory (System.getProperty("user.dir")) to get to the "lyl18" folder
//#Use back slashes "/" to denote folders (see how I've done it below)
html.filePathPrefix=/src/lucien/CSDS325/project1/
html.indexFilePath=lyl18/index.html